<div class="inner" data-hook="booking_inner">
  <p class="form-group">
    <label for="pickup"><%= Spree.t(:pickup) %></label><span class="required">*</span><br />
    <input type="text" class="form-control required" id="pickup">
  </p>
</div>